* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(to right, #434343 0%, black 100%);
}
.header {
  padding: 20px;
  background-color: #a6359c;
}

header h1 {
  display: inline-block;
}
header ul li {
  display: inline-block;
  margin-left: 25px;
  list-style-type: none;
  font-style: italic;
}
.navigation-bar {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  color: black;
}

.jgj-image {
  background-image: url("./images/Just-Grit-Linkeden.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.profile-picture {
  float: left;
  height: 205px;
  width: 180px;
  position: absolute;
  bottom: 50px;
  margin-left: 30px;
  border-radius: 50%;
  border: 2px solid #a6359c;
}

.info-section {
  display: block;
  margin-top: 75px;
  margin-left: 40px;
  margin-right: 40px;
}
.about-me {
  background-color: #a6359c;
  margin-right: 50px;
  border-radius: 5%;
}
.top-half-container {
  display: flex;
  justify-content: space-around;
}

/* 1 */
.first-line-title {
}

/* 2 */
.first-line-title h3 {
  color: #a6359c;
}

/* 3 */
.first-img-container {
}

/* 4 */
.first-line-img-coding {
}
/* Second block of information */

/* 1 */
.second-img-container {
}
.second-line-title {
}

/* 2 */
.second-line-title h3 {
  color: #a6359c;
}
/* 3 */
.second-line-image {
}

.second-line-img-gym {
}

footer div {
  background-color: #a6359c;
  border: 15px solid #a6359c;
  padding: 20px;
  text-align: center;
  margin-top: 75px;
}
.contact-me h2 {
  margin-bottom: 15px;
}
.contact-me ul li {
  display: inline-block;
  margin-left: 25px;
  list-style-type: none;
}
